@import url("https://fonts.googleapis.com/css?family=Merriweather|Roboto&display=swap");

$mainColor: #351c4d;
$mainColor-dark: #1b0c27;
$mainColor-light: #765285;
$secondaryColor: #ff7e5f;
$secondaryColor-light: #feb47b;
$colorGrey-dark: #333;
$colorGrey-light: rgb(230, 230, 230);

$font-primary: "Roboto", sans-serif;
$font-display: "Merriweather", serif;
